{%  extends 'WeatherLookup/base.html' %}

{% block title %}{{ user.username }} hub{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h4>Welcome to your hub '{{ user.username }}'</h4
        <section class="section">
        {% if cities %}
            <h5>Your observed cities:</h5>
            {% for city in cities %}
            <div class="container">
                <div class="row mb-2">
                    <div class="w-50 mx-auto d-flex-inline border border-success rounded bg-light justify-content-center p-2">
                        <div class="row mx-auto">
                            <figure class="figure-img">
                                <img src="http://openweathermap.org/img/w/{{ city.icon }}.png" class="img-fluid">
                            </figure>
                            <h4 class="align-self-center">{{ city.city_name }}</h4>
                        </div>
                        <span>Temp.:{{ city.temperature }}°C - </span>
                        <span>Weather: {{ city.description }}</span><br>
                        <a href="{% url 'weather_detail' city.city_id %}">More details</a><br>
                        <a href="{% url 'weather_forecast' city.city_id %}">5 day forecast</a>
                        <form method="POST" action="{% url 'del_fav' city.city_id %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-outline-danger my-2 my-sm-0"
                               value="Delete from observed">
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No observed cities</p>
        {% endif %}
        </section>
    {% else %}
        <p>Sorry, you have to be logged in to view this page -
            <a href="{% url 'login' %}">Sign in</a>
        </p>
        <p>Doesn't have an account? Consider
            <a href="{% url 'register' %}">signing up.</a>
        </p>
    {% endif %}
{% endblock %}

