{%  extends 'WeatherLookup/base.html' %}

{% block title %}{{ user.username }} hub{% endblock %}

{% block content %}
    <div class="container">
    {% if user.is_authenticated %}
        <h4>Welcome to your hub '{{ user.username }}'</h4>


    {% else %}
        <p>Sorry, you have to be logged in to view this page -
            <a href="{% url 'login' %}">Sign in</a>
        </p>
        <p>Doesn't have an account? Consider
            <a href="{% url 'register' %}">signing up.</a>
        </p>
    {% endif %}
    </div>
{% endblock %}