{%  extends 'WeatherLookup/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<h3>Register</h3>
    <form method="POST" action="" class="form-group">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        <input type="submit" name="create_user" value="Submit">
    </form>
    {{ form.errors }}
    <span>Already registered - </span><a href="{% url 'login' %}">Sign in</a>
{% endblock %}