{%  extends 'WeatherLookup/base.html' %}

{% block title %}Detailed Weather info{% endblock %}

{% block content %}
<div class="container">
    <img src="http://openweathermap.org/img/w/{{ icon }}.png" alt="Image">
    <h2>{{ city_name }}</h2>
    <h4>Current condition: {{ description }}</h4>
    <div class="row">
        <div class="col-sm">
            <h3>Temperature</h3>
            <p>Current temperature: {{ temperature }} °C</p>
            <p>Max. temperature: {{ temp_max }} °C</p>
            <p>Min. temperature: {{ temp_min }} °C</p>
            <p>Sensed temperature: {{ temp_fell }} °C </p>
        </div>
        <div class="col-sm">
            <h3>Pressure</h3>
            <p>{{ pressure }} hPa</p>
            <h3>Humidity</h3>
            <p>{{ humidity }} %</p>
        </div>
        <div class="col-sm">
            <h3>Wind</h3>
            <p>{{ wind_speed }} m/s</p>
            <p>Direction: {{ wind_deg }}°</p>
        </div>
        <div class="col-sm">
            <h3>Cloudinnes</h3>
            <p>{{ clouds }} %</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="cols-sm">
            <h3>Precipitation</h3>
        {% if rain_1h or rain_3h %}
            <p>Last hour - {{ rain_1h }} mm</p>
            <p>Last 3h - {{ rain_3h }} mm</p>
        {% else %}
            <p>There has been no rainfall in the last 3 hours</p>
        {% endif %}
        </div>
        <div class="col-sm">
            <h3>Snow fall</h3>
        {% if snow_1h or snow_3h %}
            <p>Last hour - {{ rain_1h }} mm</p>
            <p>Last 3h - {{ rain_3h }} mm</p>
        {% else %}
            <p>There has been no snowfall in the last 3 hours</p>
        {% endif %}
        </div>
    </div>
    <div>
        <img src="data:image/png;base64,{{ graph|safe }}"><br>
    </div>
    <a href="{% url 'weather_forecast' city_id=city_id %}">5 day forecast</a><br>
</div>
{% endblock %}